@import "tailwindcss";

@theme {
  --color-primary: #f5f1ea;
  --color-secondary: #d6b46a;
  --font-sans: "Manrope", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
}

body {
  font-family: var(--font-sans);
  color: var(--color-primary);
  background-color: #050507;
}